body {
    font-family: 'Raleway', sans-serif;
    background-color: #7CBB00;
    /*background-image: url(../img/1456666438.jpg);*/
    background-size: cover;
}

.transparent{
 background:rgba(2, 2, 2, 0.5);
 width: 50%;
 height:350px;
 padding:10px;
 margin:0px auto;
 border-radius: 10px;
 color:#fff;
}